@import url('https://fonts.googleapis.com/css2?family=Blaka&display=swap');

:root {
	--primary:#000000;
}

nav {
	position: absolute;
	color: red;
}

body {
	background-color: #000000;
	color: red;
	text-align: center;
}

section.main {
	width: 100%vw;
	height: 100%vh;
	background:  #000000;
	background-size: cover;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: red;
}

section.main h1 {
	font-family: 'Blaka', cursive;
	font-size: 15rem;
}

@media screen and (max-width: 900px) {
section h2{
width: 100%vw;
height: 100%vw;
		}
}

footer {
	display: ;
	font-weight: bold;
	padding: 1.5rem 3rem;
	background: green;
	color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000;
}

li {
  float: left;
}

li a {
  display: block;
  color: red;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

body{
     background-image: url("../images/joge.png");
     background-repeat: repeat;
}